@model List<CRUD_EF.Model.TelefonoModel>


@{
    ViewBag.Title = "CRUD EF MVC";
}

<div class="jumbotron">
    <h1>La lista de telefonos por persona</h1>
</div>

<div class="row">

    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Telefono</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.idTelefono</td>
                    <td>@item.Nombre</td>
                    <td>@item.Cedula</td>
                    <td>@item.Telefono</td>
                    <td>
                        <a href="~/Telefonos/nuevoTelefono/@item.idPersona">Insertar</a> |
                        <a href="~/Home/editarPersona/@item.idPersona">Editar</a> |
                        <a href="~/Home/eliminarPersona/@item.idPersona">Eliminar</a> |
                       


                    </td>

                </tr>

            }

        </table>

    </div>
    <div>
        <a href="/Home/Index">Regresar a la lista de Personas</a>
    </div>

</div>
