@model List<CRUD_EF.Model.PersonaModel>

@{
    ViewBag.Title = "CRUD EF MVC";
}

<div class="jumbotron">
    <h1>La lista de personas</h1>
</div>

<div class="row" style="text-align:right; padding:5px">
    <a href="/Home/nuevaPersona" class="btn btn-primary">Nueva persona</a>
</div>

<div class="row">

    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Fecha nacimiento</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.idPersona</td>
                    <td>@item.Nombre</td>
                    <td>@item.Cedula</td>
                    <td>@item.FechaNacimiento.Value.ToString("dd/MM/yyyy")</td>

                </tr>

            }

        </table>

    </div>
   
</div>